{:deps {:aliases [:client :test]},
 :builds {:dev   {:target :browser,
                    :devtools {:after-load chaplin.search/after-load!,
                               :watch-dir  "resources/public",
                               :http-port  9321,
                               :http-root  "resources/public"},
                    :output-dir "resources/public/js",
                    :modules {:app {:init-fn chaplin.search/-main}},
                    :repl-pprint true}},
 :nrepl  {:init-ns user}}
