{:source-paths ["src"],
 :dependencies [[cljs-ajax/cljs-ajax       "0.8.4"],
                [org.clojure/clojurescript "1.11.4"],
                [reagent/reagent           "1.1.1"],
                [re-frame/re-frame         "1.2.0"],
                [thheller/shadow-cljs      "2.17.8"]],
 :builds {:alpha   {:target :browser,
                    :devtools {:after-load chaplin.search/after-load!,
                               :watch-dir  "resources/public",
                               :http-port  9321,
                               :http-root  "resources/public"},
                    :output-dir "resources/public/js",
                    :modules {:app {:init-fn chaplin.search/-main}},
                    :repl-pprint true}},
 :nrepl  {:init-ns user}}
