{:deps {:aliases [:client]},
 :builds
 {:client
  {:target      :browser,
   :devtools    {:after-load client.app/after-load,
                 :watch-dir  "resources/public",
                 :http-port  9321,
                 :http-root  "resources/public"},
   :output-dir  "resources/public/js",
   :asset-path  "/js/app",
   :modules     {:app {:init-fn client.app/-main}},
   :repl-pprint true}}}
